/* Import Font Families */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import "_base.scss";

/* Base Admin Theme Styles */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
/*font-family: "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font: normal 500 .923em/1.5em "Open Sans", Arial, sans-serif;
}
/* Chrome Safari fix for text on video pages */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  body {
    -webkit-font-smoothing: antialiased;
  }
}
a {
  color: #36a2f6;
}

/* Installation/Maintenance Page */
body.in-maintenance {
  background: #256ba7 url("../images/installation-bg.png") repeat 0 0;

  .body-wrapper {
    @include gradient-vertical(#569ad4,#256ba7);

    .page-outer {
      background: transparent url("../images/installation-bg.png") repeat 0 0;
      padding: 40px 0;

    }
  }

  #branding {
    @include round-corners(5px,5px,0,0);
    box-shadow: none;
    background: #f4f4f4;
    border: 1px solid #edebeb;
    margin: 0;
    padding: 30px 40px;
    width: 960px;

    h1.page-title {
      color: #747474;
      float: right;
      font-size: 32px;
      font-weight: 100;
      line-height: 1em;
      padding: 10px 0;
      width: 550px;
    }
  }

  #page {
    @include box-shadow(0,5px,5px,rgba(0,0,0,.28));
    @include round-corners(5px,5px,5px,5px);
    background: transparent;
    background: #ffffff;
    padding: 0;
    width: 960px;
    overflow: hidden;
  }

  .page-wrapper {
    padding: 40px;
    width: 960px;
  }

  .logo-wrapper {
    float: left;
  }

  #logo {
    margin: 0;
    max-width: 100%;
  }

  #sidebar-first {
    width: 270px;
  }

  fieldset .fieldset-wrapper,
  fieldset.collapsible  {
    border: 1px solid #ccc;
    padding: 15px;
  }

  #edit-actions {
    background: transparent;
    padding: 30px 0 0 0;
  }
}
body.in-maintenance ol.task-list {
  background: transparent url("../images/wizard-bg.png") repeat-y 0 0;
}
body.installing-demo-store ol.task-list,
body.importing-content ol.task-list,
body.installing-additional-functionality ol.task-list {
  background: transparent url("../images/wizard-bg2.png") repeat-y 0 0;
}
body.in-maintenance ol.task-list li {
  background: transparent url("../images/tasks-inactive.png") no-repeat 5px 4px;
  color: #9a9a9a;
  font: normal 400 16px/18px "Open Sans", Arial, sans-serif;
  height: 30px;
  padding: 6px 0 0 40px;
  margin: 0 0 22px 0;
}
body.in-maintenance ol.task-list li.active {
  background: transparent url("../images/tasks-active.png") no-repeat 5px 4px;
  color: #2e87cd;
}
body.in-maintenance ol.task-list li.done {
  background: transparent url("../images/tasks-complete.png") no-repeat 5px 4px;
  color: #75cd27;
}
body.in-maintenance .form-item-install-demo-store .form-radios {
  float: left; /* LTR */
}
body.in-maintenance .form-item-install-demo-store .description {
  background: transparent url("../images/small-pointer.png") no-repeat 0 3px;
  margin-left: 80px; /* LTR */
  padding: 3px 5px 5px 23px;
}

body.in-maintenance div.form-type-password {
  width: 500px;
}

body.in-maintenance .password-strength {
  width: 15em;
}

body.in-maintenance .form-item-extras label[for=edit-extras] {
  clear: both;
}

/* Setting Museo Slab Family */
h1, h2, h3, h4, h5, h6, ul.admin-list li a, div.breadcrumb, fieldset .fieldset-legend {
  font-family: "Open Sans", Arial, sans-serif;
}

/* Form Overrides */
fieldset.form-wrapper {
  border: 0;
  margin-bottom: 2em;
}
fieldset.collapsed {
  min-height: 50px;
  padding: 25px 15px;
}
fieldset .fieldset-legend {
  border-bottom: 1px solid #ccc;
  font-weight: 700;
  margin: 0 0 0 15px;
  padding: 5px 0 5px 0;
  text-transform: none;
  width: 97%;
}
fieldset.collapsible .fieldset-legend {
  color: #585858;
  font-size: 15px;
  font-weight: 700;
  margin-top: 15px;
}
fieldset.collapsible .fieldset-legend a {
  color: #000;
}
fieldset.collapsible  .fieldset-wrapper {
  background: transparent;
  border: 0;
  padding: 25px 15px 0;
}
body.in-maintenance fieldset .fieldset-legend {
  border-bottom: 0;
  color: #000;
  font-size: 28px;
  font-weight: 400;
  margin-left: 0;
}
.form-item label {
  font-weight: 700;
}
.form-item div.description, fieldset p {
  font-size: 13px;
  font-weight: 100;
}
input.form-autocomplete,
input.form-text,
input.form-file {
  border: 1px solid #e0e0e0;
  font: normal 500 1em/1em "Open Sans", Arial, sans-serif;
  margin: 1px;
  max-width: 100%;
  padding: 5px;
}
input.form-text,
textarea.form-textarea {
  font-family: $serif;
}
textarea.form-textarea {
  border: 1px solid #e0e0e0;
  font-size: 1em;
  padding: 5px 10px;

}
.resizable-textarea textarea.form-textarea {
  border-bottom: none;
}
.node-form .field-name-body .resizable-textarea textarea.form-textarea {
  height: 250px;
}
.text-format-wrapper fieldset,
.text-format-wrapper fieldset .fieldset-wrapper {
  background: transparent;
  border: none;
}
.text-format-wrapper fieldset .fieldset-wrapper .form-item {
  clear: left; /* LTR */
}
.node-form .field-name-body .resizable-textarea textarea.form-textarea {
  height: 280px;
}
input.form-autocomplete:focus,
input.form-text:focus,
input.form-file:focus,
textarea.form-textarea:focus {
  background-color: #fff;
  color: #000;
}

#edit-actions {
  background: #f8f8f8;
  padding: 15px;

  input.form-submit {
    margin-bottom: 0;
  }

  #edit-delete {
    color: #ab5757;
    float: right;
    margin: 0;
    background: transparent;
    border: 0;
    @include box-shadow(0,0,0,transparent);

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Customized Checkbox and Radios */
.form-type-checkbox,
.form-type-radio {
  position: relative;
}
input.form-checkbox + label,
input.form-radio + label {
  font-weight: 500;
  padding-left: 20px; //LTR
  cursor: pointer;
}
/* Using "foo" to make unsupporting browsers ignore */
#foo:checked::before,
input.form-checkbox,
input.form-radio {
  opacity: 0;
  width: 20px;
  height: 20px;
}
#foo:checked,
input.form-checkbox + label::before,
input.form-radio + label::before {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: transparent url("../images/toggles.png") no-repeat 0 0;
}
#foo:checked,
.form-disabled input.form-checkbox + label::before {
  opacity: .4;
}
#foo:checked,
body.in-maintenance input.form-radio + label::before {
  top: 4px;
}
input.form-radio + label::before {
  background-position: 0 -40px;
}
#foo:checked,

input.form-checkbox:checked + label::before {
  background-position: 0 -20px;
}
input.form-radio:checked + label::before {
  background-position: 0 -60px;
}
select.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #ccc;
  @include round-corners(3px,3px,3px,3px);
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  max-width: 100%;
  padding: 3px;
  width: auto;

  &:focus {
    color: #000;
  }
}
/* Targeting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select.form-select {
    padding: 5px 35px 5px 5px; //LTR
    background: #fff url("../images/drop-filter.png") no-repeat right center;
  }
}
.exposed-filters .form-item label {
  float: none;
}
#edit-operation {
  margin-top: 6px;
}
body.in-maintenance fieldset.form-wrapper {
  max-width: 530px;
}

body.in-maintenance select.form-select {
  width: 500px;
}
.form-required,
.form-type-managed-file strong {
  color: #ff7e00;
  font-weight: 500;
}
body.in-maintenance .form-submit:hover {
  background: #79d428 url("../images/button-over.png") repeat-x 0 0;
}
body.in-maintenance #install-settings-form fieldset .fieldset-legend {
  font-size: 16px;
}
body.in-maintenance #install-settings-form fieldset .fieldset-wrapper {
  padding-top: 25px;
}
#edit-account-commerce-kickstart-name,
#edit-account-commerce-kickstart-password {
  font-weight: 700;
}
#edit-account-commerce-kickstart-name label,
#edit-account-commerce-kickstart-password label {
  color:#333;
  float: left; /* LTR */
  margin-right: 8px; /* LTR */
  font-weight: 500;
}
/* Make the Username & Password stand out from the label */
#edit-account-commerce-kickstart-name,
#edit-account-commerce-kickstart-password {
  color: black;
  font-weight: bold;
}


/* Overlay Styles */
a.tabledrag-handle .handle {
  height: 25px;
  width: 25px;
}
#overlay-container .overlay-modal-background {
  background: transparent url("../images/overlay.png") repeat 0 0 !important;
}
#overlay-close-wrapper {
  right: 17px;
  top: 15px;

  #overlay-close {
    background: transparent url("../images/close.png") no-repeat left top;
    right: 0;

    &:hover {
      background-position: left bottom;
    }
  }
}
#overlay-titlebar,
#branding,
.views-ui-dialog .views-override{
  @include gradient-vertical(#f0f0f0, #dedede);
  box-shadow: inset 0 -2px 3px #cccccc;
}
.views-ui-dialog #views-ajax-title {
  background: #f0f0f0;
}
#overlay-titlebar {
  @include round-corners(4px,4px,0,0);
}
h1#overlay-title {
  color: #000000;
  font: normal 500 24px/24px "Open Sans", Arial, sans-serif;
  padding-top: 25px;
}
#overlay-titlebar,
#overlay-content {
  max-width: 100%;
  white-space: normal;
}
#overlay #overlay-content {
  background: #ffffff;
  padding: 8px; /* was  4.2105%  40px/950px */
  margin-bottom: 200px;
}
#overlay #overlay-content #branding,
#overlay #overlay-content #page {
  background: transparent;
  box-shadow: none;
  max-width: 100%;
  width: auto;
}
#overlay-tabs-wrapper {
  height: 34px;
  float: right;
}
#overlay-tabs,
#branding ul.tabs {
  margin: 0;
  padding: 3px 0 0;
  position: relative;
  right: 0
}
#overlay-tabs li,
#branding ul.tabs li {
  margin: 0;
  padding: 0;
}
#overlay-tabs li a,
#overlay-tabs li a:active,
#overlay-tabs li a:visited,
#overlay-tabs li a:hover,
#branding ul.tabs li a {
  @include gradient-vertical(#c8c8c8,#B6B6B6);
  @include round-corners(4px,4px,0,0);
  box-shadow: inset 0 -2px 3px #b5b5b5;
  float: left; /* LTR */
  font-size: 15px;
  font-weight: 400 !important;
  line-height: 30px;
  margin: 0 5px 1px 0;
  text-transform: none;
}
#overlay-tabs li a:hover,
#branding ul.tabs li a:hover {
  @include gradient-vertical(#999999,#666666);
  box-shadow: inset 0 -2px 3px #666666;
}
#overlay-tabs li.active a,
#overlay-tabs li.active a.active,
#overlay-tabs li.active a:active,
#overlay-tabs li.active a:visited,
#branding ul.tabs li.active a {
  background: #ffffff;
  box-shadow: none;
  color: #000;
  margin: 0 5px 0 0;
}
#overlay-tabs li:last-child a, #overlay-tabs li.active:last-child a {
  margin: 0;
}
.overlay ul.secondary {
  margin-top: 0;
  padding-top: 10px;

  li {
    margin: 0;
    padding: 0 0 0 10px;
  }
}
#overlay #overlay-content #branding {
  padding: 0 20px;
}
#overlay #overlay-content #page {
  padding: 0 20px 30px;
}
#overlay-titlebar .add-or-remove-shortcuts {
  padding-bottom: .9em;
}
.footer-messages {
  border-top: 1px solid #efefef;
  clear: both;
  font: normal 13px/13px "Open Sans", Arial, sans-serif;
  margin: 0 40px;
}
body.in-maintenance .footer-messages {
  border: 0;
  margin: 0 auto;
  width: 960px;
}
#overlay #overlay-content .footer-messages {
  border-top: 0;
  color: #fff;
  margin: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}
#credit {
  float: right; /* LTR */
  padding: 20px 0 40px;
}
#powered {
  padding-top: 20px;
}
body.in-maintenance #credit {
  color: #fff;
  margin: 0 auto;
  width: 960px;
}
#credit .message {
  clear: right; /* LTR */
  float: right; /* LTR */
  margin-bottom: 20px;
  width: 180px;
}
/* CG Logo on White */
#credit .logo a {
  background: transparent url("../images/logo-cg2.png") no-repeat 0 0;
  clear: right; /* LTR */
  float: right; /* LTR */
  height: 0;
  overflow: hidden;
  padding: 50px 0 0;
  width: 180px;
}
/* CG Logo on Blue */
body.in-maintenance #credit .logo a {
  background: transparent url("../images/logo-cg3.png") no-repeat 0 0;
}
/* CG Logo on Black */
#overlay #overlay-content #credit .logo a {
  background: transparent url("../images/logo-cg.png") no-repeat 0 0;
}
#block-system-main {
  position: relative;
}
.breadcrumb {
  clear: left;
  color: #666666;
  float: left;
  font-size: 12px;
  padding-bottom: 10px;
  width: auto;

  a, span {
    display: inline-block;
    margin: 0 5px 0 0;
  }

  a {
    color: #666666;

    &:hover {
      color: #36a2f6;
      text-decoration: underline;
    }
  }

  span {
    background: transparent url("../images/breadcrumb.png") no-repeat 0 0;
    height: 10px;
    margin-top: 6px;
    width: 10px;
  }
}
#commerce-kickstart-inline-help {
  position: relative;
}
#edit-commerce-kickstart-inline-help-button {
  padding: 5px 15px;
}
#commerce-kickstart-inline-help #edit-commerce-kickstart-inline-help-close-button {
  padding: 5px 15px;
  position: absolute;
  right: 0; /* LTR */
  top: 10px;
}
#commerce-kickstart-inline-help .advanced-help-topic {
  background: #fef2c4;
  border: 1px solid #efb120;
  -moz-box-shadow: inset 0 0 10px #fff;
  -webkit-box-shadow: inset 0 0 10px #fff;
  box-shadow: inset 0 0 10px #fff;
  margin-bottom: 30px;
  padding: 15px;
}
.page-admin-getting-started .advanced-help-topic {
  background: transparent;
  border: 0;
  padding: 0;
}
.page-admin-getting-started .advanced-help-topic a {
  color: #36A2F6;
}
.page-admin-help-getting-started #commerce-kickstart-help {
  font-size: 28px;
  font-weight: 400;
  width: 100%;
}
.page-admin-help-getting-started #commerce-kickstart-help-button {
  position: absolute;
  right: 30px; /* LTR */
  top: -55px;
}

.help-section h3,
.help-section h3 a {
  font-size: 16px;
  font-weight: 400;
}
#block-commerce-kickstart-help-commerce-kickstart-ressources,
#block-commerce-kickstart-help-commerce-kickstart-community {
  background: #fefefe;
  border: 1px solid #efb120;
  @include round-corners(15px,15px,15px,15px);
  margin: 0;
  min-height: 250px;
  padding: 10px 30px;
  width: 48.27586%; /* 420px/870px */
}
.block-commerce-kickstart-help h2 {
  color: #acacac;
  font: normal 600 26px/26px "Open Sans", Arial, sans-serif;
}
/* Default Buttons */
input.form-submit,
a.button {
  @include grey-button;
}
/* Fix padding issue in Firefox */
@-moz-document url-prefix() {
  input.form-submit {
    padding-top: 0;
    padding-bottom: 0;
  }
}
input.form-submit:hover,
a.button:hover {
  background-position: 0 bottom;
  -moz-box-shadow: 0 1px 2px #ccc, inset 0 -1px 1px #fff;
  -webkit-box-shadow: 0 1px 2px #ccc, inset 0 -1px 1px #fff;
  box-shadow: 0 1px 2px #ccc, inset 0 -1px 1px #fff;
}
.form-managed-file input.form-file {
  margin-right: 20px; /* LTR */
}
/* Hide placeholder text on input focus */
input:focus::-webkit-input-placeholder {
  color: transparent;
}
/* Green Buttons */
a.button:hover {
  background-position: 0 bottom;
  -moz-box-shadow: 0 1px 2px #ccc, inset 0 -1px 2px #fff;
  -webkit-box-shadow: 0 1px 2px #ccc, inset 0 -1px 2px #fff;
  box-shadow: 0 1px 2px #ccc, inset 0 -1px 2px #fff;
}
#overlay-container .overlay-modal-background {
  background: #ccc;
}
.overlay-modal-background {
/* Using a transparent png renders faster than using opacity */
  background: transparent url(../images/overlay.png) repeat !important;
}
ul.action-links {
  padding: 0;
}
ul.action-links li {
  padding: 6px 0;
}
/* Blue Buttons */
.form-actions #edit-submit,
.form-actions #edit-save,
ul.action-links li,
html.js .view-commerce-backoffice-order-messages .view-footer fieldset.collapsible .fieldset-legend a,
.field-widget-inline-entity-form .container-inline input.form-submit,
input.ief-entity-submit {
  @include blue-button;
}
/* Firefox padding issue */
@-moz-document url-prefix() {
  .form-actions #edit-submit,
  .form-actions #edit-save,
  ul.action-links li,
  html.js .view-commerce-backoffice-order-messages .view-footer fieldset.collapsible .fieldset-legend a,
  .field-widget-inline-entity-form .container-inline input.form-submit,
  input.ief-entity-submit {
    padding: 2px 30px;
  }
}
/* Action Links Overrides of above */
ul.action-links li {
  float: left;
  padding: 0;
}
ul.action-links li a {
  background: transparent url("../images/add2.png") no-repeat 10px 10px;
  color: #ffffff;
  font-weight: 500;
  padding: 4px 10px 4px 30px;
}
ul.action-links li a:hover {
  text-decoration: none;
}
.rules-elements-table ul.rules-operations-add a {
  line-height: 1.25em;
  float: left;
}
/* Table Styles */
table th {
  background: #e0e0e0;
  font-weight: 400;
  font-size: 15px;
  text-transform: none;
}
table th a {
  color: #000;
}
table th {
  padding: 5px 15px;
}
table th.views-field-operations-dropbutton {
  width: 175px;
}
table td {
  padding: 15px;
}
table.sticky-header {
  z-index: 99;
}
#views-form-commerce-orders-admin-page table td.views-field-commerce-order-total,
#views-form-commerce-orders-admin-page table td.views-field-status {
  font-weight: 500;
}
#edit-actions {
  //padding-top: 30px;
}
div.vertical-tabs {
  margin-bottom: 2em;
}
table td.views-field-edit-node a {
  margin-right: 10px; /* LTR */
}
.form-item-changed-command-example .ajax-progress,
#commerce-kickstart-inline-help-form-ajax .ajax-progress {
  float: left; /* LTR */
  margin-right: 10px; /* LTR */
}
#commerce-kickstart-inline-help-form-ajax .ajax-progress {
  padding-top: 10px;
}
#commerce-kickstart-inline-close-help-form-ajax .ajax-progress {
  position: absolute;
  right: 100px; /* LTR */
  top: 10px;
}
#commerce-kickstart-inline-help-form-ajax #edit-commerce-kickstart-inline-help-button {
  float: right; /* LTR */
}
.item-list ul.pager li {
  border-right: 1px solid #737373;
  font-size: 14px;
  font-weight: 500;
  margin: 0 5px 0 0;
  padding: 0 5px 0 0;
  text-transform: capitalize;
}
ul.pager li.pager-next {
  border-right: 0;
}
.item-list ul.pager {
  text-align: right; /* LTR */
}
ul.pager li a,
ul.pager li.pager-current {
  font-weight: 100;
  line-height: 1em;
}
ul.pager li.pager-current {
  -moz-box-shadow: inset 0 0 1px #fff;
  -webkit-box-shadow: inset 0 0 1px #fff;
  box-shadow: inset 0 0 1px #fff;
  color: #737373;
}
ul.pager li.pager-first,
ul.pager li.pager-last {
  display: none;
}
fieldset.collapsed {
  padding-left: 0;
}
html.js input.form-autocomplete {
  background-position: 100% 7px;
}
html.js input.throbbing {
  background-position: 100% -13px;
}
/**
* admin/modules
*/
#system-modules #module-filter-submit #edit-actions {
  padding: 0;
}
#system-modules #module-filter-submit .form-actions #edit-submit {
  @include round-corners(15px,15px,15px,15px);
  font: normal 16px/21px "Open Sans", Arial, sans-serif;
  margin: 1em 0;
  padding: 4px 10px;
}

#user-filter-form #edit-actions {
  background: transparent;
}
