/**
 * Generic elements.
 */

dl {
  dd,
  dl {
    margin-right: 20px;
  }
}

ul,
.block ul,
.item-list ul {
  margin: 0.25em 1.5em 0.25em 0;
}

ol {
  margin: 0.25em 2em 0.25em 0;
}

.breadcrumb {
  a {
    float: right;
  }
  span {
    float: right;
    background: transparent url("../images/breadcrumb-rtl.png") no-repeat 0 0;
  }
}

#powered {
  float: left;
}

/**
 * Skip link.
 */

#skip-link {
  right: 50%;
  margin-right: -5.25em;
  a {
    padding: 1px 10px 2px 10px;
    &:link,
    &:visited {
      padding: 1px 10px 2px 10px;
    }
  }
}

/**
 * Branding.
 */

#branding {
  padding: 20px 20px 0 20px;
  div.block {
    float: left;
    padding-left: 0;
    padding-right: 10px;
    form {
      div.form-item {
        float: right;
      }
      input.form-text {
        margin-left: 10px;
        margin-right: 0;
      }
    }
  }
}

/**
 * Help.
 */

#help div.more-help-link {
  text-align: left;
}

/**
 * Page title.
 */

#branding h1.page-title {
  float: right;
}

/**
 * Tabs.
 */

ul {
  &.primary {
    li {
      float: right;
      a {
        &:link,
        &.active {
          float: right;
        }
      }
    }
    float: left;
  }
  &.secondary {
    float: left;
    li {
      float: none;
    }
  }
  &.primary {
    padding-top: 0;
  }
}

/**
 * Page layout.
 */

#page {
  padding: 20px 0 40px 0;
  margin-left: 40px;
  margin-right: 40px;
}

#secondary-links li {
  padding: 0 0 10px 10px;
}

ul {
  &.links li,
  &.inline li {
    padding-left: 1em;
    padding-right: 0;
  }
  &.admin-list {
    li {
      padding: 9px 30px 0 0;
      margin-right: 0;
      background: url(../images/list-item-rtl.png) no-repeat right 11px;
      a {
        margin-right: -30px;
        margin-left: 0;
        padding: 0 30px 4px 0;
      }
    }
    &.compact a,
    li a {
      margin-right: 0;
    }
  }
}

/**
 * Tables.
 */

table th.active {
  a {
    padding: 0 0 0 25px;
  }
  img {
    left: 3px;
    right: auto;
  }
}

/**
 * Exception for webkit bug with the right border of the last cell
 * in some tables, since it's webkit only, we can use :last-child
 */

tr td:last-child {
  border-left: 1px solid #bebfb9;
  border-right: none;
}

/**
 * Fieldsets.
 */

fieldset {
  padding: 2.5em 0 0 0;
  .fieldset-legend {
    padding-right: 15px;
    right: 0;
  }
  .fieldset-wrapper {
    padding: 0 15px 13px 13px;
  }
}

/* Filter */

.filter-wrapper {
  .form-item,
  .filter-guidelines,
  .filter-help {
    padding: 2px 0 0 0;
  }
}

ul.tips li {
  margin: 0.25em 1.5em 0.25em 0;
}

body div {
  &.form-type-radio div.description,
  &.form-type-checkbox div.description {
    margin-left: 0;
    margin-right: 1.5em;
  }
}

input.form-submit,
a.button {
  margin-left: 1em;
  margin-right: 0;
}

ul.action-links {
  li {
    float: right;
    margin: 0 0 0 1em;
  }
  a {
    padding-left: 10px;
    padding-right: 30px;
    background-position: 97% center;
  }
}

/* Update options. */

div.admin-options {
  label,
  div.form-item {
    margin-left: 10px;
    margin-right: 0;
    float: right;
  }
}

/* Maintenance theming */

body.in-maintenance {
  #sidebar-first {
    float: right;
  }
  #content {
    float: left;
    padding-left: 20px;
    padding-right: 0;
  }
}

ol.task-list {
  margin-right: 0;
  li {
    padding: 0.5em 20px 0.5em 1em;
    &.active {
      background: transparent url(../images/task-item-rtl.png) no-repeat right 50%;
      padding: 0.5em 20px 0.5em 1em;
    }
  }
}

/* Overlay theming */

.overlay {
  #branding div.breadcrumb {
    float: right;
  }
  ul.secondary {
    margin: -1.4em 0 0.3em 0;
  }
}

/* Shortcut theming */

div.add-or-remove-shortcuts {
  float: none;
  padding-left: 0;
  padding-right: 6px;
}

/* Dashboard */

#dashboard div.content {
  padding: 10px 5px 5px 5px;
  ul.menu {
    margin-right: 20px;
  }
}

/* Recent content block */

#block-node-recent .more-link {
  padding: 0 0 5px 5px;
}

/* User login block */

#user-login-form .openid-links {
  margin-right: 0;
  .user-link {
    margin-right: 1.5em;
  }
}
