/**
 * Override of misc/vertical-tabs-rtl.css.
 */

div.vertical-tabs {
  background: white url(../images/fc-rtl.png) repeat-y right 0;
  .vertical-tabs-list {
    float: right;
    margin: 0 0 -1px -100%;
  }
  ul a {
    border-left-color: #fff;
    &:hover,
    &:focus,
    &:active {
      border-left-color: #fff;
    }
  }
  .vertical-tabs-panes {
    margin: 0 265px 0 0;
    padding: 10px 0 10px 15px;
  }
}
