
.megarow-content {
  padding-top: 0;
}
.megarow-content table {
  border: 0;
}
.megarow-content tr {
  border: 0 !important;
  background-color: #f2f2f2 !important;
  border-bottom: 5px solid white !important;
}
.megarow-content tr td:last-child {
  border: 0 !important;
}
.views-field-operations-dropbutton .quick-edit {
  padding-right: 10px;
  position :relative;
}
.views-field-operations-dropbutton .quick-edit .ajax-progress-throbber {
  position: absolute;
  top: 0;
  right: 0;
}
