/**
 *
 * Login form
 * Lost password form
 * Registration form
 *
 */
.page-user #user-login,
.page-user #user-pass,
.page-user-register #user-register-form {
  background-color: #f0f0f0;
  border: 1px solid #d7d7d7;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin: 0 auto 20px;
  padding: 20px;
  width: 60%;
}
.page-user #user-login #edit-name,
.page-user #user-login #edit-pass,
.page-user-register #user-pass #edit-name {
  height: 30px;
}
.page-user #user-login label,
.page-user #user-pass label,
.page-user-register #user-register-form label {
  display: inline;
  float: left;
  text-indent: -9999px;
  width: 0;
}
.page-user #user-login input[type="text"],
.page-user #user-login input[type="password"],
.page-user #user-pass input[type="text"],
.page-user-register #user-register-form input[type="text"] {
  font-size: 14px;
  padding: 20px 5px;
}
.page-user #user-login div.description,
.page-user #user-pass div.description,
.page-user-register #user-register-form div.description {
  color: #afafaf;
  margin-top: 4px;
  width: 90%;
}
.page-user-register .page-user #user-login input:focus ~ div.description,
.page-user-register .page-user #user-pass input:focus ~ div.description,
.page-user-register #user-register-form input:focus ~ div.description {
  color: #717171;
}
/**
 * Edit account form
 */
div.password-suggestions ul {
  padding-left: 40px;
}
.page-user-edit #user-profile-form label {
  display: inline;
  float: left;
  margin-right: 8px;
}
.page-user-edit #user-profile-form div.description {
  color: #afafaf;
  margin-top: 4px;
  width: 90%;
}
.page-user-edit #user-profile-form input:focus ~ div.description {
  color: #717171;
}
.page-user-edit #user-profile-form .form-item-pass {
  background-color: #f0f0f0;
  border: 1px solid #d7d7d7;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 20px;
  width: 60%;
}
