/* First Steps */
.first-steps-left {
  float: left;
  width: 60%;
}
.first-steps-right {
  float: left;
  width: 35%;
}

.first-steps-column.first-steps-right {
  float: right;
}
.first-steps-blocks h2 {
  background-color: #ccc;
  padding: 5px;
  margin-top: 0;
}
.first-steps-videos .first-steps-blocks-inner {
  height: 400px;
  text-align: center;
}

.first-steps-videos iframe {
  height: 90%;
  width: 90%;
  margin: 0 auto;
}

.documentation-steps {
  width: 45%;
  float: left;
  list-style: none;
  font-weight: bold;
}

#kickstart-help-topic ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.documentation-steps ul li {
  list-style: none;
  font-weight: normal;
}

.first-steps-blocks {
  border: 1px solid #ccc;
  margin: 5px;
}

.first-steps-blocks-inner {
  padding: 5px;
}

.documentation-websites {
  border-top: 1px solid #ccc;
  background-color: #ddd;
}

.first-steps-quick .first-steps-blocks-inner {
  padding: 0;
}
.first-steps-quick ul li {
  border-top: 1px solid #ccc;
  line-height: 2em;
  padding: 4px;
}

.first-steps-quick ul li.first {
  border-top: none;
}

#commerce-kickstart-help {
  margin: 0 auto;
  width: 400px;
}
#commerce-kickstart-help-button {
  margin: 0 auto;
  width: 134px;
}
/* Help Block */
#block-commerce-kickstart-help-commerce-kickstart-ressources {
  float: left;
}
#block-commerce-kickstart-help-commerce-kickstart-community {
  float: right;
}
#block-commerce-kickstart-help-commerce-kickstart-ressources,
#block-commerce-kickstart-help-commerce-kickstart-community {
  width: 47%;
  border: 1px solid #aaa;
  background-color: #fafafa;
  min-height: 150px;
  margin: 5px 10px;
  padding-left: 30px;
  padding-top: 10px;
}
#block-commerce-kickstart-help-commerce-kickstart-ressources h2,
#block-commerce-kickstart-help-commerce-kickstart-community h2 {
  background: transparent url("../images/help-lg.png") no-repeat 0 0;
  padding: 5px 0 5px 40px;
}
#block-commerce-kickstart-help-commerce-kickstart-ressources .content,
#block-commerce-kickstart-help-commerce-kickstart-community .content {
  padding-left: 40px;
}

/* Getting started */
#-getting-started .search {
  background: #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 15px;
}
#-getting-started .search .form-item {
  margin-top: 0;
  float: left;
}
#-getting-started .search .form-item input.form-text {
  border: 1px solid #666;
  line-height: normal;
}
#-getting-started a.search-submit {
  background: #2F88CD;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#36A2F6), to(#2F88CD));
  background-image: -webkit-linear-gradient(top, #36A2F6, #2F88CD);
  background-image: -moz-linear-gradient(top, #36A2F6, #2F88CD);
  background-image: -ms-linear-gradient(top, #36A2F6, #2F88CD);
  background-image: -o-linear-gradient(top, #36A2F6, #2F88CD);
  background-image: linear-gradient(to bottom, #36A2F6, #2F88CD);
  border: 1px solid #2F88CD;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px #ccc, inset 0 1px 1px #7bb8ef;
  -webkit-box-shadow: 0 1px 2px #CCC, inset 0 1px 1px #7BB8EF;
  box-shadow: 0 1px 2px #CCC, inset 0 1px 1px #7BB8EF;
  color: white;
  float: right;
  font: normal 16px/21px "Open Sans", Arial, sans-serif;
  padding: 4px 15px;
}
#-getting-started a.search-submit:hover {
  background: #4f9fea;
  -moz-box-shadow: 0 1px 2px #ccc, inset 0 -1px 1px #427ed2;
  -webkit-box-shadow: 0 1px 2px #ccc, inset 0 -1px 1px #427ed2;
  box-shadow: 0 1px 2px #ccc, inset 0 -1px 1px #427ed2;
  text-decoration: none;
}
#-getting-started .fieldset-title {
  color: #0879bf;
}
#-getting-started .fieldset-title .sub-title {
  color: #8d8d8d;
}
#-getting-started label {
  margin: 45px 0 15px;
}
html.js #-getting-started fieldset.collapsible {
  background: #efefef;
  border: 0;
  margin: 0 0 10px 0;
  outline: 0;
}
html.js #-getting-started fieldset.collapsible .fieldset-wrapper,
html.js #-getting-started fieldset.collapsible p {
  font-size: 14px;
  font-weight: 500;
}
.product-management #edit-product-management-title label {
  background: url('../images/products.png') 0 0 no-repeat;
  border-bottom: 1px solid #dfdfdf;
  font-size: 22px;
  line-height: 1em;
  padding: 0 0 10px 40px;
  overflow: hidden;
}
.order-management #edit-order-management-title label {
  background: url('../images/content.png') 0 0 no-repeat;
  border-bottom: 1px solid #dfdfdf;
  font-size: 22px;
  line-height: 1em;
  padding: 0 0 10px 40px;
  overflow: hidden;
}
.store-settings #edit-store-settings-title label {
  background: url('../images/store.png') 0 0 no-repeat;
  border-bottom: 1px solid #dfdfdf;
  font-size: 22px;
  line-height: 1em;
  padding: 0 0 10px 40px;
  overflow: hidden;
}

html.js #-getting-started fieldset.collapsible .fieldset-legend {
  background: transparent url("../images/expandable.png") no-repeat 0 -13px;
  font-size: 16px;
  padding-left: 25px;
}
html.js #-getting-started fieldset.collapsed .fieldset-legend {
  background-position: 0 9px;
}
