.advanced-help-topic .first-steps .ui-accordion-header a,
.advanced-help-topic .products .ui-accordion-header a,
.advanced-help-topic .store-settings .ui-accordion-header a,
.advanced-help-topic .store-launch .ui-accordion-header a,
.advanced-help-topic .checkout .ui-accordion-header a {
  background-position:  99% -70px
}

.advanced-help-topic .first-steps h2.ui-state-active a,
.advanced-help-topic .products h2.ui-state-active a,
.advanced-help-topic .checkout h2.ui-state-active a,
.advanced-help-topic .store-settings h2.ui-state-active a,
.advanced-help-topic .store-launch h2.ui-state-active a,
.advanced-help-topic .launch h2.ui-state-active a,
.advanced-help-topic .site-enrichment h2.ui-state-active a,
.advanced-help-topic .other h2.ui-state-active a {
  background-position:  99% 0;
}

.advanced-help-topic .ui-accordion h2.ui-accordion-header,
.advanced-help-topic .ui-accordion h2.ui-accordion-header.checked {
  background-position: 85px center;
}

.advanced-help-topic .ui-accordion h2.ui-accordion-header a {
  padding: 20px 95px 20px 20px;
}

#accordion .help-section h3,
.ui-accordion .help-section .tipsy-link,
.child {
  float: right;
}

.ui-accordion .ui-accordion-header .ui-icon {
  background-image: url("../images/expandable-rtl.png");
}

.advanced-help-topic .first-steps .ui-accordion-header .ui-icon {
  left: auto;
  right: 280px;
}

.advanced-help-topic .products .ui-accordion-header .ui-icon {
  right: 170px;
  left: auto;
}

.advanced-help-topic .checkout .ui-accordion-header .ui-icon {
  right: 330px;
  left: auto;
}

.advanced-help-topic .store-settings .ui-accordion-header .ui-icon {
  right: 220px;
  left: auto;
}

.advanced-help-topic .site-enrichment .ui-accordion-header .ui-icon {
  right: 220px;
  left: auto;
}

.advanced-help-topic .store-launch .ui-accordion-header .ui-icon {
  right: 210px;
  left: auto;
}

#accordion .accordion-section form {
  float: left;
}

.tipsy-w {
  left: auto !important;
  right: 380px !important;
}

.tipsy-inner {
  text-align: right;
}

.tipsy-w .tipsy-arrow {
  background-image: url("../images/tipsy-arrow-rtl.png");
  height: 30px;
  width: 40px;
  right: -33px;
  left: auto;
  top: 47%;
}

#block-commerce-kickstart-help-commerce-kickstart-ressources {
  float: right;
}

#block-commerce-kickstart-help-commerce-kickstart-community {
  float: left;
}

#block-commerce-kickstart-help-commerce-kickstart-ressources h2, #block-commerce-kickstart-help-commerce-kickstart-community h2 {
  background: transparent url("../images/help-lg.png") no-repeat right 0;
  padding: 5px 40px 5px 0px;
}

#block-commerce-kickstart-help-commerce-kickstart-ressources .content,
#block-commerce-kickstart-help-commerce-kickstart-community .content {
  padding-right: 40px;
  padding-left: 0px;
}

.tipsy-inner .content-wrapper a.more {
  background: transparent url("../images/more2-rtl.png") no-repeat right top;
  padding: 5px 30px 5px 0;
}
