/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
body {
  background: #000000 url('../images/bg.png') left top;
  font-size: 14px;
  margin: 0;
}
/*
 * ==========================================================
 * Header
 * ==========================================================
 */
.view-display-id-block_3 .item-list .event-slider li img {
  min-width: 320px;
  width: 100%;
  height: 100%;
}
/**
 * Navigation
 */
.navigation .primary-menu,
.navigation .second-menu {
  margin: 26px 0px;
}
.main-menu a,
.secondary-menu a {
  display: inline;
}
/*
 * ==========================================================
 * Footer
 * ==========================================================
 */.view-display-id-block_3 .item-list .event-slider li img {
     min-width: 310px;
     height: 100%;
   }
/**
 * Menu footer navigation
 */
.section-footer ul.menu li {
  display: inline;
  float: left;
}



