/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal
 *  and widescreen CSS files as appropriate. */

/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/

/*******************************************
* 2.1.1. Region user first
*******************************************/
.block-menu-kickstart-user-menu .block-inner {
  float: left;
}
.block-menu-kickstart-user-menu .content {
  float: right;
  margin: 0;
  width: inherit;
  overflow: inherit;
  position: inherit;
}
.block-menu-kickstart-user-menu .content ul,
.block-menu-kickstart-user-menu .content ul li,
.block-menu-kickstart-user-menu .content ul li a {
  display: inline;
}
.block-menu-kickstart-user-menu .content ul {
  text-align: right;
  clear: inherit;
  float: right;
  margin-top: 2px;
  margin-right: 10px;
  position: inherit;
  left: inherit;
  text-align: inherit;
}
.block-menu-kickstart-user-menu .content ul li {
  float: left;
  padding-bottom: 3px;
  position: inherit;
  right: inherit;
}
/*******************************************
* 2.1.2. Region user second
*******************************************/
#block-views-shopping-cart-block {
  float: right;
  margin: inherit;
}
/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/

/*******************************************
* 3.2.2. Content
*******************************************/
/* HP blocks: Slideshow */
.bx-wrapper,
.bx-wrapper .bx-window {
  height: 357px !important;
  max-height: 357px;
  padding-bottom: 0;
}
.bx-wrapper ul {
  max-height: 357px;
}
.view-display-id-block_3 .item-list .event-slider li {
  min-height: 168px;
  height: 357px;
  max-height: 480px;
  margin: 0;
  width: 700px;
  min-width: 330px;
  max-width: 940px;
}
/**********************************************
* 3.3. Zone postscript
**********************************************/
.view-display-id-block_1 .views-row .views-field-field-tagline,
.view-display-id-block_2 .views-row .views-field-field-tagline,
.block-blog-block .views-field-title {
  left: 10px;
}
/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.3. Product page
**********************************************/
/* Cloud zoom */
.cloud-zoom-container #wrap {
  z-index: 2 !important; /* fix overlay */
}
.node-product-type #wrap {
  float: right;
}
.node-product-type .cloud-zoom-gallery-thumbs {
  float: left;
}
.node-product-type .cloud-zoom-gallery {
  border: 1px solid #5b5b5b;
  display: block;
  float: left;
  margin: 5px;
}
