/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal
 *  and widescreen CSS files as appropriate. */

/*
 * ==========================================================
 * General
 * ==========================================================
 */
body {
  margin: 0;
}
/*
 * ==========================================================
 * Zones
 * ==========================================================
 */
/*
 * ==========================================================
 * Regions
 * ==========================================================
 */
#region-user-second {
  margin-left: 10px;
}
.region-user-second .region-user-second-inner {
  margin-right: -10px;
}
/*
 * ==========================================================
 * Header
 * ==========================================================
 */
/* Cart block */
#block-views-shopping-cart-block {
  float: right;
  margin: inherit;
}
/**
 * Navigation
 */
.navigation .primary-menu ul,
.navigation .second-menu ul {
  margin: 26px 0px;
}
.main-menu a,
.secondary-menu a {
  display: inline;
}

.block-menu-kickstart-user-menu .block-inner {
  float: left;
}
.block-menu-kickstart-user-menu .content ul,
.block-menu-kickstart-user-menu .content ul li,
.block-menu-kickstart-user-menu .content ul li a {
  display: inline;
}
.block-menu-kickstart-user-menu .content {
  float: right;
  margin: 0;
  width: inherit;
  overflow: inherit;
  position: inherit;
 }
.block-menu-kickstart-user-menu .content ul {
  text-align: right;
  clear: inherit;
  float: right;
  margin-top: 2px;
  position: inherit;
  left: inherit;
  text-align: inherit;
}
.block-menu-kickstart-user-menu .content ul li {
  float: left;
  padding-bottom: 3px;
  position: inherit;
  right: inherit;
}

/*
 * ==========================================================
 * Content
 * ==========================================================
 */
/* Top advert */
#promotional_banner .promotional_banner_saving {
  float: inherit;
}
/* Slideshow */
.bx-wrapper,
.bx-wrapper .bx-window {
  height: 357px !important;
  max-height: 357px;
  padding-bottom: 0;
}
.bx-wrapper ul {
  max-height: 357px;
}
.view-display-id-block_3 .item-list .event-slider li {
  max-height: 168px;
  min-width: 330px;
  height: 357px;
  width: 700px;
  max-height: 480px;
  max-width: 940px;
}
/* Homepage blocks */
.view-display-id-block_1 .views-row,
.view-display-id-block_2 .views-row,
.block-blog-block .block-inner {
  margin: 5px;
}
/**
* Product page
*/
/* Cloud zoom */
.cloud-zoom-container #wrap {
  z-index: 2 !important; /*fix overlay*/
}
.node-product-type #wrap {
  float: right;
}
.node-product-type .cloud-zoom-gallery-thumbs {
  float: left;
}
.node-product-type .cloud-zoom-gallery {
  border: 1px solid #5b5b5b;
  display: block;
  float: left;
  margin: 5px;
}
/*
 * ==========================================================
 * Footer
 * ==========================================================
 */
/**
 * Menu footer navigation
 */
.section-footer ul.menu li {
  display: inline;
  float: left;
}
