/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */

/*
 * ==========================================================
 * General
 * ==========================================================
 */
body {
  background-color: #ececec;
  font-size: 14px;
}
h2.site-name:after {
  content: " global ";
}
/*
 * ==========================================================
 * Zones
 * ==========================================================
 */
.zone-user-wrapper {
  background-color: #8e8e8e;
  height: 28px;
}
.zone-user-wrapper .block-commerce-cart,
.zone-user-wrapper .block-commerce-cart a {
}
.zone-content-wrapper {
  height: 100%;
}
.zone-content {
  background-color: #ffffff;
}
.zone-postscript {
  margin-top: 30px;
  margin-bottom: 24px;
}
.zone-footer-wrapper {
  background-color: #494949;
  padding-top: 32px;
  padding-bottom: 36px;
}
.zone-footer2-wrapper {
  background-color: #3f3f3f;
  padding-top: 17px;
  height: 160px;
}
.zone-footer2 {
  color: #eeeeee;
}
/*
 * ==========================================================
 * Regions
 * ==========================================================
 */
.region-content-inner {
  padding: 10px 0;
}
/*
 * ==========================================================
 * Header
 * ==========================================================
 */
/**
 * Breadcrumb
 */
.breadcrumb {
  background-color: #eeeeee;
  border: 1px solid #d7d7d7;
  margin: 20px 0;
  padding: 13px 27px;
}
.breadcrumb,
.breadcrumb a {
  color: #898a8c;
}
.breadcrumb a {
  font-weight: bold;
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
/**
 * Navigation
 */
.navigation .primary-menu,
.navigation .second-menu {
  font-size: 1.142857142857143em;
}
.navigation .primary-menu .main-menu li,
.navigation .second-menu .secondary-menu li {
  margin: 0;
  padding: 0;
}
.main-menu a,
.secondary-menu a {
  display: block;
  margin: 7px 0;
  padding: 12px;
  text-decoration: none;
}
.navigation li a {
  -webkit-transition:background .2s ease-in;
  -moz-transition:background .2s ease-in;
  -o-transition:background .2s ease-in;
  transition:background .2s ease-in
}
.navigation li a:hover {
  -webkit-transition:background .4s ease-out;
  -moz-transition:background .4s ease-out;
  -o-transition:background .4s ease-out;
  transition:background .4s ease-out;
}
/* Main menu */
.main-menu a {
  color: #ffffff;
  text-transform: capitalize;
}
.navigation .primary-menu li a {
  background-color: #000000;
  border: 1px solid #d7d7d7;
}
.navigation .primary-menu li a.active,
.navigation .primary-menu li a:hover {
  background-color: #ffffff;
  border: 1px solid #d7d7d7;
}
.navigation .primary-menu li a.active {
  color: #fd9a00;
}
.navigation .primary-menu li a:hover {
  color: #000000;
}
/* Secondary menu */
.secondary-menu a {
  color: #000000;
}
.navigation .second-menu li a {
  background-color: #ffffff;
  border: 1px solid #d7d7d7;
}
.navigation .second-menu li a.active,
.navigation .second-menu li a:hover {
  background-color: #000000;
  border: 1px solid #d7d7d7;
}
.navigation .second-menu li a.active {
  color: #fd9a00;
}
.navigation .second-menu li a:hover {
  color: #ffffff;
}
/* Cart block */
.block-shopping-cart-block p,
.block-shopping-cart-block div {
  display: inline;
}
/*
 * ==========================================================
 * Sidebars
 * ==========================================================
 */
/* Sidebar first: Search api facet blocks */
.region-sidebar-first .block-facetapi {
  border-top: 1px solid #000000;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 15px;
  padding-left: 15px;
}
.region-sidebar-first .block-facetapi li  {
  background: none;
  line-height: 22px;
  list-style: none;
  margin: 0;
}
.region-sidebar-first .block-facetapi h2 {
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 10px;
}
.region-sidebar-first .block-facetapi a {
  color: #8e8e8e;
  text-decoration: none;
}
.region-sidebar-first .block-facetapi a:hover {
  text-decoration: underline;
}
/* category */
.region-sidebar-first .block-facetapi.field_category .item-list {
  border: 1px solid #d9d9d9;
  height: 220px;
  padding: 10px 20px;
  overflow-y: scroll;
}
/*
 * ==========================================================
 * Content
 * ==========================================================
 */
.section-content {
  min-height: 500px;
  height: 100%;
}
/* Homepage blocks */
/* Top advert */
.block-promotional-banner {
  background-color: #fd9a00;
  color: #ffffff;
  font-size: 16px;
  height: 33px;
  padding: 5px 10px;
  position: relative;
  top: 10px;
  left: -10px;
  width: 100%;
  z-index: 10;
}
/* Slideshow */
.view-display-id-block_4 {
  position: relative;
}
.view-display-id-block_4 .bx-window {
  overflow: visible !important;
}
.event-slider,
.view-display-id-block_4 .item-list .event-slider li {
  margin: 0;
}
.event-slider .views-field-body {
  text-indent: -9999px;
}
.event-slider .views-field-title,
.view-display-id-block_4 .bx-prev,
.view-display-id-block_4 .bx-next {
  height: 80px;
  text-align: center;
  width: 320px;
}

.event-slider .views-field-title {
  background: url('../images/bg_title_slideshow_current.png') left top no-repeat;
  color: #ffffff;
  padding-bottom: 5px;
  position: absolute;
  bottom: -65px;
  left: 32.5%;
}
.view-display-id-block_4 .bx-prev,
.view-display-id-block_4 .bx-next {
  color: #000000;
  text-decoration: none;
  display: block;
  padding-bottom: 5px;
}
.event-slider .views-field-title span,
.view-display-id-block_4 .bx-prev span,
.view-display-id-block_4 .bx-next span {
  display: block;
  line-height: 12px;
  padding: 20px 35px;
}
.view-display-id-block_4 .bx-prev {
  background: url('../images/bg_title_slideshow_previous.png') left top no-repeat;
  float: left;
}
.view-display-id-block_4 .bx-next {
  background: url('../images/bg_title_slideshow_next.png') left top no-repeat;
  float: right;
  margin-right: 5px;
}



.region-postscript-first,
.region-postscript-second {
  margin-bottom: 5px;
}
.view-display-id-block_1 .views-rows {
  display: inline;
  float: left;
  margin: 0;
}
.view-display-id-block_1 .views-row,
.block-blog-block .block-inner {
  background-color: #cccccc;
  border: 1px solid #b1b1b1;
  padding: 5px 0px;
}
.view-display-id-block_1 .views-row img {
  margin: 0 10px;
}
.view-display-id-block_1 .views-row img,
.block-blog-block img {
  border: 4px solid #ffffff;
}
.view-display-id-block_1 .views-row .views-field-field-tags,
.block-blog-block .block-title {
  background: url('../images/bg_block_homepage_title.png') left top no-repeat;
  color: #ffffff;
  font-size: 16px;
  height: 50px;
  padding-top: 11px;
  padding-left: 25px;
  width: 112px;
}
.view-display-id-block_1 .views-row .views-field-field-headline {
  margin: 0 10px;
}
.view-display-id-block_1 .views-row .views-field-field-headline,
.block-blog-block .views-field-body {
  margin-top: 5px;
}
.view-display-id-block_1 .views-row .views-field-field-headline,
.block-blog-block .views-field-body,
.view-display-id-block_1 .views-row .views-field-field-headline a,
.block-blog-block .views-field-body a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}
/* Adverts blocks */
.view-display-id-block_1 .views-row-first,
.view-display-id-block_1 .views-row-last {
  margin: 0;
}
.view-display-id-block_1 .views-row-first {
  margin-bottom: 5px;
}
.view-display-id-block_1 .views-row .views-field-field-tags {
  font-family: Georgia, 'Times New Roman', serif;
}
.view-display-id-block_1 .views-row .views-field-field-headline {
  border: 1px solid #5f5f5f;
  background-color: #504b4a;
}
/* Blog block */
.block-blog-block .views-field-body {
  border: 1px solid #585655;
  background-color: #f2a023;
}
/**
 * Collection page
 */

.collection-terms {

}
.view-collection-taxonomy-term .item-list {
  clear: both;
}
.view-collection-taxonomy-term .item-list h3 {
  display: inline;
}
.view-collection-taxonomy-term .item-list h3 .collection {
  background-color: #d3d3d3;
  float: left;
  height: 260px;
  margin-right: 10px;
  position: relative;
  width: 470px;
}
.view-collection-taxonomy-term .item-list h3 .collection a {
  color: #ffffff;
  font-size: 50px;
  margin-bottom : 15px;
  margin-left: 15px;
  position: absolute;
  bottom: 0;
}
.view-collection-taxonomy-term .products-per-collection li.views-row {
  display: inline;
  float: left;
  margin: 0;
  padding-left: 10px;
  padding-bottom: 30px;
  text-align: center;
}
.view-collection-taxonomy-term .products-per-collection li.views-row:nth-child(4n+3) {
  padding-left: 0;
}
.view-collection-taxonomy-term .products-per-collection li.last {
  padding-right: 0;
}
/* Collection colors */
#iPhone-Cases {
  background-color: #0ad7d4;
}
/**
 * Search page
 */
.page-all-products .view-display-products li.views-row {
  display: inline;
  float: left;
  margin: 0;
  padding-right: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.view-collection-taxonomy-term .products-per-collection li.views-row.last,
.page-all-products .view-display-products li.views-row.last {
  padding-right: 0;
}
/* All products */
.page-all-products .view-display-products {

}
.page-all-products .commerce-product-extra-field-title {
  background: url('../images/bg_search_product_name.png') left top no-repeat;
  margin-top: 4px;
  padding-top: 17px;
  font-size: 14px;
  text-decoration: none;
}
/*
 * ==========================================================
 * Footer
 * ==========================================================
 */
.section-footer {
  background-color: #3f3f3f;
}
/**
 * Menu footer navigation
 */
.block-menu-menu-footer-navigation {
  width: auto;
}
.section-footer ul.menu {
  width: 100%;
}
.section-footer ul.menu li {
  list-style: none;
  margin: 0;
  padding: 10px;
}
.section-footer ul.menu li a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.section-footer ul.menu .expanded a.active {
  color: #fd9a00;
}
.section-footer ul.menu .expanded a:hover {
  text-decoration: underline;
}
.section-footer ul.menu .expanded ul.menu li {
  display: block;
  float: none;
  padding: 0;
}
.section-footer ul.menu .expanded ul.menu li a {
  color: #c1c1c1;
  font-weight: normal;
}
/**
 * Social links block
 */
.block-social h2 {
  background: url('../images/bg_block_footer_title.png') left top no-repeat;
  color: #eeeeee;
  padding-bottom: 22px;
  padding-left: 25px;
}
.block-social #facebook,
.block-social #twitter,
.block-social #pinterest {
  color: #eeeeee;
  display: block;
  height: 35px;
  line-height: 15px;
  margin-bottom: 15px;
  padding-top: 2px;
  padding-left: 50px;
}
.block-social #facebook {
  background: url('../images/icon_facebook.png') left top no-repeat;
  padding-right: 60px;
}
.block-social #twitter {
  background: url('../images/icon_twitter.png') left top no-repeat;
  padding-right: 40px;
}
.block-social #pinterest {
  background: url('../images/icon_pinterest.png') left top no-repeat;
  padding-right: 80px;
}

.block-payment {
  background-color: #ffffff;
  color: #3f3f3f;
  padding: 10px;
}
ul#payments {
  margin-bottom: 0;
}
ul#payments li {
  display: inline;
  float: left;
}
ul#payments li:first-child {
  margin-left: 5px;
}
#payments #payment_visa_premier,
#payments #payment_paypal,
#payments #payment_mastercard,
#payments #payment_american_express,
#payments #payment_visa {
  display: block;
  height: 30px;
  margin-right: 10px;
  text-indent: -9999px;
  width: 50px;
}

#payments #payment_visa_premier {
  background: url('../images/picto_visa_premier.png') left top no-repeat;
}
#payments #payment_paypal {
  background: url('../images/picto_paypal.png') left top no-repeat;
}
#payments #payment_mastercard {
  background: url('../images/picto_mastercard.png') left top no-repeat;
}
#payments #payment_american_express {
  background: url('../images/picto_american_express.png') left top no-repeat;
}
#payments #payment_visa {
  background: url('../images/picto_visa.png') left top no-repeat;
}
