/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */

/*
 * ==========================================================
 * General
 * ==========================================================
 */
body {
  background-color: #ececec;
  font-size: 14px;
}
h2.site-name:after {
  content: " global ";
}
/*
 * ==========================================================
 * Zones
 * ==========================================================
 */
.zone-user-wrapper {
  background-color: #8e8e8e;
  height: 34px;
}
.zone-user {
  height: 100%;
}
.zone-branding .region-branding {
  margin-right: 0;
}
.zone-menu .region-menu {
  margin: 0;
}
.zone-content-wrapper {
  height: 100%;
}
.zone-content {
  background-color: #ffffff;
}
.zone-postscript {
  margin-top: 20px;
  margin-bottom: 24px;
}
.zone-footer-wrapper {
  background-color: #494949;
  padding-top: 32px;
  padding-bottom: 36px;
}
.zone-footer2-wrapper {
  background-color: #3f3f3f;
  padding-top: 17px;
  height: 160px;
}
.zone-footer2 {
  color: #eeeeee;
}
/*
 * ==========================================================
 * Regions
 * ==========================================================
 */
#region-user-second {
  margin-left: 20px;
  margin-right: 0;
}
#region-branding {
  width: 99%;
}
#region-menu {
  width: 100%;
}
.region-content-inner {
  padding: 10px 0;
}
.front .region-content-inner {
  padding: 0;
}
.region-user-first,
.region-user-second,
.region-user-second .region-user-second-inner
{
  height: 100%;
}
/*
 * ==========================================================
 * Header
 * ==========================================================
 */
/**
 * Search block
 */
#block-views-exp-display-products-page {
  float: right;
  padding-top: 36px;
}
#block-views-exp-display-products-page .views-exposed-widget {
  clear: both;
  padding: 0;
}
#block-views-exp-display-products-page #edit-search-api-views-fulltext {
  background: #ffffff url('../images/picto_magnifying_glass.png') 98% center no-repeat;
  border-color: #d7d7d7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 28px;
  padding: 5px 28px 5px 5px;
}
#block-views-exp-display-products-page .views-submit-button {
  float: right;
}
#block-views-exp-display-products-page .views-submit-button .form-submit {
  margin-top: 5px;
}
/**
 * Breadcrumb
 */
.breadcrumb {
  background-color: #eeeeee;
  border: 1px solid #d7d7d7;
  margin: 20px 0;
  padding: 13px 27px;
}
.breadcrumb,
.breadcrumb a {
  color: #898a8c;
}
.breadcrumb a {
  font-weight: bold;
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
/**
 * Navigation
 */
.navigation .primary-menu,
.navigation .second-menu {
  font-size: 1.142857142857143em;
}
.navigation .primary-menu .main-menu li,
.navigation .second-menu .secondary-menu li {
  margin: 0;
  padding: 0;
}
.main-menu a,
.secondary-menu a {
  display: block;
  margin: 7px 0;
  padding: 12px 15px;
  text-decoration: none;
}
.navigation li a {
  -webkit-transition:background .2s ease-in;
  -moz-transition:background .2s ease-in;
  -o-transition:background .2s ease-in;
  transition:background .2s ease-in
}
.navigation li a:hover {
  -webkit-transition:background .4s ease-out;
  -moz-transition:background .4s ease-out;
  -o-transition:background .4s ease-out;
  transition:background .4s ease-out;
}
/* Main menu */
.main-menu a {
  color: #ffffff;
  text-transform: capitalize;
}
.navigation .primary-menu li a {
  background-color: #000000;
  border: 1px solid #d7d7d7;
}
.navigation .primary-menu li a.active,
.navigation .primary-menu li a:hover {
  background-color: #ffffff;
  border: 1px solid #d7d7d7;
}
.navigation .primary-menu li a.active {
  color: #fd9a00;
}
.navigation .primary-menu li a:hover {
  color: #000000;
}
/* Secondary menu */
.secondary-menu a {
  color: #000000;
}
.navigation .second-menu li a {
  background-color: #ffffff;
  border: 1px solid #d7d7d7;
}
.navigation .second-menu li a.active,
.navigation .second-menu li a:hover {
  background-color: #000000;
  border: 1px solid #d7d7d7;
}
.navigation .second-menu li a.active {
  color: #fd9a00;
}
.navigation .second-menu li a:hover {
  color: #ffffff;
}

/* User menu */
.block-menu-kickstart-user-menu ul,
.block-menu-kickstart-user-menu ul li {
  display: inline;
  float: left;
  margin: 0;
}
.block-menu-kickstart-user-menu ul {
  margin-top: 2px;
}
.block-menu-kickstart-user-menu ul li {
  padding-bottom: 3px;
}
.block-menu-kickstart-user-menu ul li.first {
  border-right: 1px solid #ffffff;
}
.block-menu-kickstart-user-menu ul li.last {
  padding-left: 7px;
}
.block-menu-kickstart-user-menu ul li a {
  color: #ffffff;
  text-decoration: none;
}
.block-menu-kickstart-user-menu ul li a.active,
.block-menu-kickstart-user-menu ul li a:hover {
  text-decoration: underline;
}
/* Cart block */
.block-shopping-cart-block,
.block-shopping-cart-block .block-inner,
.block-shopping-cart-block .content {
  height: 100%;
}
.block-shopping-cart-block .block-inner {
  background-color: #ffffff;
}
.block-shopping-cart-block h2 {
  background: url('../images/picto_cart.png') right 5px no-repeat;
  font-size: 14px;
  float: left;
  line-height: 23px;
  padding-top: 5px;
  padding-right: 50px;
  padding-left: 22px;
  text-transform: uppercase;
}
.block-shopping-cart-block .content .view-shopping-cart .view-content,
.block-shopping-cart-block .content .view-shopping-cart .view-footer,
.block-shopping-cart-block .content .view-shopping-cart .view-empty {
  display: inline;
  float: right;
}
.block-shopping-cart-block .content .view-shopping-cart .view-empty p {
  float: left;
}
.block-shopping-cart-block .content .view-shopping-cart .view-empty p,
.block-shopping-cart-block .content .view-shopping-cart .line-item-quantity {
  display: inline;
  line-height: 30px;
  margin: 0;
  margin-left: 5px;
}
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary {
  display: inline;
  float: right;
  height: 34px;
  margin: 0;
  position: relative;
}
.block-shopping-cart-block .content .view-shopping-cart .view-empty p,
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary .line-item-quantity {
  padding-right: 25px;
}
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary .line-item-quantity {
  color: #fd9a00;
  font-weight: bold;
 }
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary .line-item-total {
  background-color: #fd9a00;
  color: #ffffff;
  float: right;
  height: 100%;
  line-height: 30px;
  padding: 0 12px;
}
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary .line-item-total-label {
  display: none;
}
/*
 * ==========================================================
 * Sidebars
 * ==========================================================
 */
/* Sidebar first: Search api facet blocks */
.region-sidebar-first .block-facetapi {
  border-top: 1px solid #000000;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 15px;
  padding-left: 15px;
}
.region-sidebar-first .block-facetapi li  {
  background: none;
  line-height: 22px;
  list-style: none;
  margin: 0;
}
.region-sidebar-first .block-facetapi h2 {
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 10px;
}
.region-sidebar-first .block-facetapi a {
  color: #8e8e8e;
  text-decoration: none;
}
.region-sidebar-first .block-facetapi a:hover {
  text-decoration: underline;
}
/* category */
.region-sidebar-first .block-facetapi.field_category .item-list {
  border: 1px solid #d9d9d9;
  height: 220px;
  padding: 10px 20px;
  overflow-y: scroll;
}
/*
 * ==========================================================
 * Content
 * ==========================================================
 */
.section-content {
  min-height: 500px;
  height: 100%;
}
/* Homepage blocks */
/* Top advert */
.block-promotional-banner {
  background-color: #fd9a00;
  color: #ffffff;
  font-size: 16px;
  height: 33px;
  padding: 5px 10px;
  position: relative;
  top: 0px;
  left: -10px;
  width: 100%;
  z-index: 10;
}

#promotional_banner .promotional_banner_saving {
  font-size: 1.4em;
  font-weight: bold;
}
#promotional_banner .promotional_banner_special_offer {
  background-color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fd9a00;
  padding: 5px;
}
.block-shipping-discount {
  left: -50px;
  top: 210px;
  position: absolute;
  z-index: 500;
}

/* Shipping */
#shipping {
  border: 6px solid #ffffff;
  background-color: #000000;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
  color: #fd9a00;
  display: block;
  font-size: 13px;
  height: 120px;
  line-height: 22px;
  text-align: center;
  padding: 10px 5px;
  width: 130px;
}
#shipping #shipping_message span {
  border-bottom: 1px solid #ffffff;
  display: block;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 0 4px 0;
  text-transform: uppercase;
}
#shipping #shipping_message span em {
  font-size: 27px;
  font-style: normal;
}
#shipping #shipping_currency {
  display: block;
  font-size: 27px;
}
/* Slideshow */
.block-demo-content-block-4 {
  position: relative;
  top: -10px;
}
.view-display-id-block_4 {
  position: relative;
}
.view-display-id-block_4 .bx-window {
  overflow: visible !important;
}
.event-slider,
.view-display-id-block_4 .item-list .event-slider li {
  margin: 0;
}
.event-slider .views-field-body {
  text-indent: -9999px;
}
.event-slider .views-field-title,
.view-display-id-block_4 .bx-prev,
.view-display-id-block_4 .bx-next {
  height: 80px;
  text-align: center;
  width: 320px;
}

.event-slider .views-field-title {
  background: url('../images/bg_title_slideshow_current.png') left top no-repeat;
  color: #ffffff;
  padding-bottom: 5px;
  position: absolute;
  bottom: -65px;
  left: 32.5%;
}
.view-display-id-block_4 .bx-prev,
.view-display-id-block_4 .bx-next {
  color: #000000;
  text-decoration: none;
  display: block;
  padding-bottom: 5px;
}
.event-slider .views-field-title span,
.view-display-id-block_4 .bx-prev span,
.view-display-id-block_4 .bx-next span {
  display: block;
  font-size: 25px;
  font-weight: bold;
  height: 80px;
  line-height: 22px;
  padding: 10px 35px 0;
  overflow: hidden;
}
.view-display-id-block_4 .bx-prev {
  background: url('../images/bg_title_slideshow_previous.png') left top no-repeat;
  float: left;
}
.view-display-id-block_4 .bx-next {
  background: url('../images/bg_title_slideshow_next.png') left top no-repeat;
  float: right;
  margin-right: 5px;
}
.region-postscript-first,
.region-postscript-second {
  margin-bottom: 5px;
}
.view-display-id-block_1 .views-rows {
  display: inline;
  float: left;
  margin: 0;
}
.view-display-id-block_1 .views-row,
.block-blog-block .block-inner {
  background-color: #cccccc;
  border: 1px solid #b1b1b1;
  padding: 5px 0px;
}
.view-display-id-block_1 .views-row img,
.block-blog-block .content {
  margin: 0 10px;
}
.view-display-id-block_1 .views-row img,
.block-blog-block img {
  border: 4px solid #ffffff;
}
.view-display-id-block_1 .views-row .views-field-field-headline,
.block-blog-block .block-title {
  background: url('../images/bg_block_homepage_title.png') left top no-repeat;
  color: #ffffff;
  font-size: 16px;
  height: 50px;
  padding-top: 11px;
  padding-left: 25px;
  width: 112px;
}
.view-display-id-block_1 .views-row .views-field-field-tagline {
  margin: 0 10px;
}
.view-display-id-block_1 .views-row .views-field-field-tagline,
.block-blog-block .views-field-body {
  margin-top: 5px;
}
.view-display-id-block_1 .views-row .views-field-field-tagline,
.block-blog-block .views-field-body,
.view-display-id-block_1 .views-row .views-field-field-tagline a,
.block-blog-block .views-field-body a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}
.view-display-id-block_1 .views-row .views-field-field-headline .field-content,
.block-blog-block .views-field-body .field-content {
  height: 90px;
}
/* Adverts blocks */
.view-display-id-block_1 .views-row-first,
.view-display-id-block_1 .views-row-last {
  margin: 0;
}
.view-display-id-block_1 .views-row-first {
  margin-bottom: 5px;
}
.view-display-id-block_1 .views-row .views-field-field-headline {
  font-family: Georgia, 'Times New Roman', serif;
}
.view-display-id-block_1 .views-row .views-field-field-tagline .field-content {
  border: 1px solid #5f5f5f;
  background: url('../images/bg_ad_push_headline.png') left top;
}
/* Blog block */
.block-blog-block .views-field-body .field-content {
  border: 1px solid #585655;
  background: url('../images/bg_blog_headline.png') left top;
}
.block-blog-block .views-field-body .field-content p {
  margin-bottom: 0;
}

/**
 * Search & Collection page
 */

.view-collection-taxonomy-term .products-per-collection li h2,
.page-products .view-display-products li h2 {
  font-size: 14px;
  margin: 0;
}
.view-collection-taxonomy-term .products-per-collection li a,
.view-collection-taxonomy-term .products-per-collection li .commerce-product-field,
.page-products .view-display-products li a,
.page-products .view-display-products li .commerce-product-field {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}
.view-collection-taxonomy-term .products-per-collection li.views-row.last,
.page-products .view-display-products li.views-row.last {
  padding-right: 0;
}
/**
 * Collection page
 */
.view-collection-taxonomy-term .view-header {
  position: relative;
}
.view-collection-taxonomy-term .view-header h2 {
  font-size: 98px;
  line-height: 100px;
  margin: 0;
  position: absolute;
  bottom: 18px;
  left: 15px;
}
.view-collection-taxonomy-term .view-header h2 a {
  color: #ffffff;

  text-decoration: none;
}
.view-collection-taxonomy-term .view-header .collection-terms {
  margin: 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.view-collection-taxonomy-term .view-header .field-name-field-image {
  border: 1px solid #d7d7d7;
}
.view-collection-taxonomy-term .view-header .collection-terms .view-header {
  color: #ffffff;
}
.view-collection-taxonomy-term .view-header .collection-terms .view-header,
.view-collection-taxonomy-term .view-header .collection-terms .view-content {
  display: inline;
  float: left;
}


.view-collection-taxonomy-term .view-header .view-collection-taxonomy-term .view-content .item-list ul {
  display: none;
}
.view-collection-taxonomy-term .view-header .view-collection-taxonomy-term .view-header,
.view-collection-taxonomy-term .view-header .view-collection-taxonomy-term .view-content .item-list,
.view-collection-taxonomy-term .view-header .view-collection-taxonomy-term .view-content .item-list h3 {
  display: inline;
}
.view-collection-taxonomy-term .view-header .view-collection-taxonomy-term .view-header p {
  margin: 6px 15px 0 0;
}
.view-collection-taxonomy-term .view-header .view-collection-taxonomy-term .view-content .item-list h3 a {
  background-color: #cecece;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 15px;
  text-decoration: none;
}
.view-collection-taxonomy-term .view-header .view-collection-taxonomy-term .view-content .item-list h3 a:hover {
  background-color: #ffffff;
  color: #cecece;
}

.view-collection-taxonomy-term .view-content .item-list {
  clear: both;
}

.view-collection-taxonomy-term .item-list h3 .collection {
  background-color: #d3d3d3;
  float: left;
  height: 260px;
  position: relative;
  width: 460px;
}
.view-collection-taxonomy-term .item-list h3 .collection a {
  color: #ffffff;
  font-size: 50px;
  margin-bottom : 15px;
  margin-left: 15px;
  position: absolute;
  bottom: 0;
}
.view-collection-taxonomy-term .products-per-collection li.views-row {
  display: inline;
  float: left;
  margin: 0;
  padding-bottom: 30px;
  text-align: center;
}
.view-collection-taxonomy-term .products-per-collection li.last {
  padding-right: 0;
}
/* Collection colors */
#iPhone-Cases {
  background-color: #0ad7d4;
}
/* All products */
.page-products .view-display-products ul li.views-row {
  display: inline;
  float: left;
  margin: 0;
  padding-bottom: 30px;
  text-align: center;
}
.page-products .commerce-product-extra-field-title {
  background: url('../images/bg_search_product_name.png') left top no-repeat;
  margin-top: 4px;
  padding-top: 17px;
  font-size: 14px;
  text-decoration: none;
}
/**
 * Product page
 */
.node-product-type .product-title {
  font-size: 24px;
}
.node-product-type .commerce-product-sku {
  color: #b1b1b1;
  font-size: 13px;
}
.node-product-type .commerce-product-sku-label {
  font-weight: normal;
}
.node-product-type .commerce-product-field {
  color: #f2a023;
  font-size: 30px;
  margin-bottom: 20px;
}
.node-product-type .field-name-body {
  margin-bottom: 20px;
}
.commerce-add-to-cart {
  background: url('../images/bg_product_attributes_top.png') center top no-repeat;
  padding-top: 40px;
}
.node-product-type .field-name-field-product {
  background: url('../images/bg_product_attributes_bottom.png') center bottom no-repeat;
  padding-bottom: 50px;
}

.commerce-add-to-cart label {
  float: left;
  margin-right: 5px;
  width: 45%;
}
.commerce-add-to-cart label:after {
  content: " :";
}
.commerce-add-to-cart .form-item {
  margin-top: 0;
}
.commerce-add-to-cart .form-submit {
  background: #fd9a00 url('../images/bg_add_to_cart.png') 90% 50% no-repeat;
  border: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-size: 17px;
  font-weight: normal;
  margin-top: 40px;
  margin-left: 5px;
  padding: 5px 50px 5px 10px;
}
/*
 * ==========================================================
 * Footer
 * ==========================================================
 */
.section-footer {
  background-color: #3f3f3f;
}
/**
 * Menu footer navigation
 */
.block-menu-menu-footer-navigation {
  width: auto;
}
.section-footer ul.menu {
  width: 100%;
}
.section-footer ul.menu li {
  list-style: none;
  margin: 0;
  padding: 10px;
}
.section-footer ul.menu li a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.section-footer ul.menu .expanded a.active {
  color: #fd9a00;
}
.section-footer ul.menu .expanded a:hover {
  text-decoration: underline;
}
.section-footer ul.menu .expanded ul.menu li {
  display: block;
  float: none;
  padding: 0;
}
.section-footer ul.menu .expanded ul.menu li a {
  color: #c1c1c1;
  font-weight: normal;
}
/**
 * Powered by Drupal Commerce
 */
.block-powered-drupal-commerce a {
  color: #1d76bc;
  text-decoration: none;
}
/**
 * Social links block
 */
.block-social h2 {
  background: url('../images/bg_block_footer_title.png') left top no-repeat;
  color: #eeeeee;
  padding-bottom: 22px;
  padding-left: 25px;
}
.block-social #facebook,
.block-social #twitter,
.block-social #pinterest {
  color: #eeeeee;
  display: block;
  height: 35px;
  line-height: 15px;
  margin-bottom: 15px;
  padding-top: 2px;
  padding-left: 50px;
}
.block-social #facebook {
  background: url('../images/icon_facebook.png') left top no-repeat;
  padding-right: 60px;
}
.block-social #twitter {
  background: url('../images/icon_twitter.png') left top no-repeat;
  padding-right: 40px;
}
.block-social #pinterest {
  background: url('../images/icon_pinterest.png') left top no-repeat;
  padding-right: 80px;
}

.block-payment {
  background-color: #ffffff;
  color: #3f3f3f;
  padding: 10px;
}
ul#payments {
  margin-bottom: 0;
}
ul#payments li {
  display: inline;
  float: left;
}
ul#payments li:first-child {
  margin-left: 10px;
}
#payments #payment_visa_premier,
#payments #payment_paypal,
#payments #payment_mastercard,
#payments #payment_american_express,
#payments #payment_visa {
  display: block;
  height: 30px;
  margin-right: 12px;
  text-indent: -9999px;
  width: 50px;
}

#payments #payment_visa_premier {
  background: url('../images/picto_visa_premier.png') left top no-repeat;
}
#payments #payment_paypal {
  background: url('../images/picto_paypal.png') left top no-repeat;
}
#payments #payment_mastercard {
  background: url('../images/picto_mastercard.png') left top no-repeat;
}
#payments #payment_american_express {
  background: url('../images/picto_american_express.png') left top no-repeat;
}
#payments #payment_visa {
  background: url('../images/picto_visa.png') left top no-repeat;
}
