/**************************************************
* --
* 1. Global
* --
**************************************************/
#messages {
  z-index: 1000; /*Fix for z-index stacking*/
}
/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
.zone-user-wrapper {
  width: inherit !important;
}
/*******************************************
* 2.1.1. Region user first
*******************************************/
/* User menu */
.block-menu-kickstart-user-menu .content {
  width: auto;
}
/*******************************************
* 2.1.2. Region user second
*******************************************/
/**
* Cart block
*/
#block-views-shopping-cart-block {
  max-width: 280px;
}
.block-shopping-cart-block,
.block-shopping-cart-block .block-inner,
.block-shopping-cart-block .content {
  white-space: normal;
}
.block-shopping-cart-block .content .view-shopping-cart .view-content {
  display: none;
}
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary .line-item-total {
  float: left;
}
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary .links {
  float: right;
  height: 100%;
}

/**********************************************
* 2.2. Zone branding
**********************************************/
.zone-branding .region-branding {
  margin-top: 50px;
  margin-right: inherit !important;
}
#region-branding {
  width: inherit !important;
}
/**
* Search block
*/
#block-views-exp-display-products-page .views-exposed-widgets {
  position: relative;
}
#block-views-exp-display-products-page .views-exposed-widget {
  padding: 0;
  position: relative;
  left: 0px;
}
#block-views-exp-display-products-page #edit-search-api-views-fulltext {
  height: 18px;
}
#block-views-exp-display-products-page .views-submit-button .form-submit {
  float: left;
  width: 24px;
  height: 24px;
}
/**********************************************
* 2.3. Zone menu
**********************************************/
/**
* Navigation
*/
.navigation .primary-menu,
.navigation .second-menu {
  padding-bottom: 25px;
}
.navigation .primary-menu .main-menu li a,
.navigation .second-menu .secondary-menu li a {
  min-height: 100%;
  height: 30px;
}
.main-menu a,
.secondary-menu a {
  display: block;
  float: left;
}

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Search api facet blocks */
.region-sidebar-first .block-facetapi {
  margin-left: 5px;
}
/*******************************************
* 3.2.2. Content
*******************************************/
/**
* Blocks
*/
/* HP blocks: Top advert */
#promotional_banner {
}
#promotional_banner .promotional_banner_special_offer {
  position: absolute;
  right: 10px;
}
/**************************************************
* --
* 4. Section footer
* --
**************************************************/
/**********************************************
* 4.1. Zone footer
**********************************************/
/**
* Menu footer navigation
*/
.section-footer ul.menu li {
  padding-right: 15px;
}
/**
* Connect with us
*/
.block-social h2 {
  line-height: 22px;
}
/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
.view-collection-taxonomy-term .view-header .collection-terms {
  padding-bottom: 5px;
}
.view-collection-taxonomy-term .view-header .view-collection-taxonomy-term .view-content .item-list {
}
.view-collection-taxonomy-term .view-header .view-collection-taxonomy-term .view-content .item-list h3 {
  margin-bottom: 10px;
}
/**********************************************
* 5.2. All products page
**********************************************/
.page-products .view-display-products {
  clear: both;
  width: 700px;
  margin-top: 40px;
}
.page-products .view-display-products ul li.views-row {
  display: block;
  height: auto;
  margin: 0;
  padding-right: 5px;
  width: 225px;
}
/**********************************************
* 5.3. Product page
**********************************************/
/* Cloud zoom */
.node-product-type .cloud-zoom-gallery-thumbs {
  clear: none;
  width: 120px;
}
.node-product-type .cloud-zoom-container .cloud-zoom {
  float: right;
}
